{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}



{% block styles %}

<!-- CSS Styling for Table

<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;border-color:#999;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#999;color:#444;background-color:#F7FDFA;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#999;color:#fff;background-color:#26ADE4;}
.tg .tg-s6z2{text-align:center}
@media screen and (max-width: 767px) {.tg {width: auto !important;}.tg col {width: auto !important;}.tg-wrap {overflow-x: auto;-webkit-overflow-scrolling: touch;}}</style>
-->
<!-- CSS Styling for Box around Text

<style>
.border
{
border:1px;
border-style:solid;
border-color:#287EC7;
padding: 1em;
}
</style> -->
{% endblock %}


{% block title %}

	Part 2 Example
{% endblock %}

{% block content %}

<div class="panel panel-primary">
  <!-- Default panel contents -->
<div class="panel-heading">Group Results</div>
  <div class="panel-body">
    Here you can see an artificial example of individual performances:
  </div>


<!-- Begin Table -->
<table class="table">
  <thead>
  <tr>
    <th class="tg-s6z2">Player</th>
    <th class="tg-s6z2">Production*</th>
    <th class="tg-s6z2">Share of total Group Production**</th>
    <th class="tg-s6z2">Probability of receiving <em>advanced technology</em></th>
  </thead>
  </tr>
  <tr>
    <td class="tg-s6z2">A</td>
    <td class="tg-s6z2">aa<br></td>
    <td class="tg-s6z2">xa</td>
    <td class="tg-s6z2">ya %</td>
  </tr>
  <tr>
    <td class="tg-s6z2">B</td>
    <td class="tg-s6z2">bb</td>
    <td class="tg-s6z2">xb</td>
    <td class="tg-s6z2">yb %</td>
  </tr>
  <tr>
    <td class="tg-s6z2">C</td>
    <td class="tg-s6z2">cc</td>
    <td class="tg-s6z2">xc</td>
    <td class="tg-s6z2">yc %</td>
  </tr>
  <tr>
    <td class="tg-s6z2">D</td>
    <td class="tg-s6z2">dd</td>
    <td class="tg-s6z2">xd</td>
    <td class="tg-s6z2">yd %</td>
  </tr>
  <tr>
    <td class="tg-s6z2">E</td>
    <td class="tg-s6z2">ee</td>
    <td class="tg-s6z2">xe</td>
    <td class="tg-s6z2">ye %</td>
  </tr>
  <tfoot>
  <tr>
    <td class="tg-s6z2" colspan="2">Total</td>
    <td class="tg-s6z2"></td>
    <td class="tg-s6z2">100%</td>
  </tr>
  </tfoot>
</table>


<p>
* Production refers to the amount of correctly solved sequences. <br>
** This is the player's share of the group's aggregated production.
</p>

</div>

<!-- End Table -->



   <p>
	In this scenario, participant A solved aa sequences which corresponds to xa % of the total Group counts.<br>
	Therefore, participant A will receive the <em>advanced technology</em> with a probability of ya % in the next round.</p>


  {% next_button %}



{% endblock %}
