{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}
{% load staticfiles %}



{% block title %}
    Questionnaire
{% endblock %}


{% block content %}

<h4>
Please answer the following questions:
</h4>
<br>
<ol type="1"> <!-- This starts a numbered list -->

<p>
    <li> On a scale from 1 to 10 (1 being "not at all" and 10 being "exclusively") </li>
    {{ form.skill.errors }}<!-- This allows oTree to show an error message, if no button is selected -->

    <!-- make sure "skill" is defined in your models.py and this page appears as a "form" in views.py" -->

    <!-- The following defines the a group of choices -->
    <div class="form-group required">


                    <label class="control-label"
                           for="id_skill">How important do you think <u>skill</u> was to achieve high overall earnings?

                    </label>

                    <div class="controls  field-skill">

     <!-- The following defines how the choices are shown -->
   <div class="controls  field-skill">
    <label class="btn btn-info" for="id_skill_1">Not at all <input type="radio" id="id_skill_1" value="1" name="skill" required> </label>

    <label class="btn btn-info" for="id_skill_2"><input type="radio" id="id_skill_2" value="2" name="skill" required> </label>

    <label class="btn btn-info" for="id_skill_3"><input type="radio" id="id_skill_3" value="3" name="skill"wo required> </label>

    <label class="btn btn-info" for="id_skill_4"><input type="radio" id="id_skill_4" value="4" name="skill" required>  </label>

    <label class="btn btn-info" for="id_skill_5"><input type="radio" id="id_skill_5" value="5" name="skill" required>  </label>

    <label class="btn btn-info" for="id_skill_6"><input type="radio" id="id_skill_6" value="6" name="skill" required>  </label>

    <label class="btn btn-info" for="id_skill_7"><input type="radio" id="id_skill_7" value="7" name="skill" required>  </label>

    <label class="btn btn-info" for="id_skill_8"><input type="radio" id="id_skill_8" value="8" name="skill" required>  </label>

    <label class="btn btn-info" for="id_skill_9"><input type="radio" id="id_skill_9" value="9" name="skill" required>  </label>

    <label class="btn btn-info" for="id_skill_10">  <input type="radio" id="id_skill_10" value="10" name="skill" required> Exclusively </label>










                    </div><!--- .controls -->


        </div><!--- .form-group -->



</p>

<br>

<p>

<li> On a scale from 1 to 10 (1 being "not at all" and 10 being "exclusively") </li>

    {{ form.skill.errors }} <!-- This allows oTree to show an error message, if no button is selected -->

    <!-- make sure "luck" is defined in your models.py and this page appears as a "form" in views.py" -->

    <!-- The following defines the a group of choices -->

    <div class="form-group required">

                 <label class="control-label"
                        for="id_luck">How much do you think <u>luck</u> affected your overall earnings?
    <br/>
                    </label>

    </p>

     <!-- The following defines how the choices are shown -->
    <div class="controls  field-luck">
	<label class="btn btn-info" for="id_luck_1">Not at all <input type="radio" id="id_luck_1" value="1" name="luck" required> </label>

	<label class="btn btn-info" for="id_luck_2"><input type="radio" id="id_luck_2" value="2" name="luck" required> </label>

	<label class="btn btn-info" for="id_luck_3"><input type="radio" id="id_luck_3" value="3" name="luck" required> </label>

	<label class="btn btn-info" for="id_luck_4"><input type="radio" id="id_luck_4" value="4" name="luck" required>  </label>

	<label class="btn btn-info" for="id_luck_5"><input type="radio" id="id_luck_5" value="5" name="luck" required>  </label>

	<label class="btn btn-info" for="id_luck_6"><input type="radio" id="id_luck_6" value="6" name="luck" required>  </label>

	<label class="btn btn-info" for="id_luck_7"><input type="radio" id="id_luck_7" value="7" name="luck" required>  </label>

	<label class="btn btn-info" for="id_luck_8"><input type="radio" id="id_luck_8" value="8" name="luck" required>  </label>

	<label class="btn btn-info" for="id_luck_9"><input type="radio" id="id_luck_9" value="9" name="luck" required>  </label>

	<label class="btn btn-info" for="id_luck_10">  <input type="radio" id="id_luck_10" value="10" name="luck" required> Exclusively </label>








                    </div><!--- .controls -->


        </div><!--- .form-group -->




</ol> <!-- this closes the numbered list -->


    <br>
    <br>

    {% next_button %}

{% endblock %}






