{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block styles %}
    <link href="{% static "LetterCount/css/Round.css" %}" rel="stylesheet">
{% endblock %}

{% block title %}
    Trial Run
{% endblock %}

{% block content %}

<div id="string">
</div>

<br>
<input type="text" id="player_guess" autofocus>
</input>

<span id="min">00</span>:<span id="sec">00</span>:<span id="sec">00</span>

<input type="hidden" name="output0" value="0" id="id_output0"/>

{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{% static "LetterCount/js/Round0.js" %}"></script>
{% endblock %}