{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block styles %}
    <link href="{% static "LetterCount/css/Round.css" %}" rel="stylesheet">
{% endblock %}

{% block title %}
    Part 1 continued
{% endblock %}

{% block content %}

<div class="jumbotron">

<div id="string">
</div>

<br>

<input type="text" id="player_guess" size="4" autofocus>
</input> &nbsp;
<span id="min">00</span>:<span id="sec">00</span>
&nbsp; Time spent in the current string

<br>

<input type="hidden" name="output2" id="id_output2"/>

<p align="right">
    <button class="Switch_button" id="Switch_button" button = "button">Switch</button>
</p>

</div>

<div id="Switch_mode" class="Switch_mode">
    You are now in the switch mode!
</div>

{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{% static "LetterCount/js/Round2.js" %}"></script>
{% endblock %}