{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Part 1
{% endblock %}

{% block content %}
<div class="instructions well well-lg">
    <p>
        In the following tasks you can earn additional money. <strong>For each sequence you solve </strong>you will receive
        <strong>{{ Constants.tokensper_string }} Tokens </strong>(Tk.) One Token will be converted into <strong>{{ Constants.eurosper_token }} Euro</strong>.
        Every participant has to count the same letter ()<strong>a</strong>) in exactly the same sequences such that everybody faces the same difficulty.</p>
    <p>
        You will start solving short sequences. After each sequence you have solved, <strong>the length will increase
        by {{ Constants.char_increase }} characters</strong>.</p>
    <p>
        At any time, you have the option to change to the <em>switch mode</em>. In this mode, you will earn <strong>1 Token
        per {{ Constants.secondsper_token }} seconds</strong> without solving any tasks.
	      <U>Important:</U> Once you are in the <em>switch mode</em> you cannot go back to the letter counting task!
    </p>
    <p>
        Ready? Now you have 4 minutes to earn Tokens.
    </p>

</div>
    {% next_button %}

{% endblock %}
