{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Task Instructions
{% endblock %}

{% block content %}
<div class="instructions well well-lg">
    <p>
    During the experiment, you will be asked to count letters. You have to count how many times the letter “<strong>a</strong>“
        appears in a sequence of characters.</p>
    <p>
    Now you will have the opportunity to try the task. The timer will tell you how long you take for each sequence.
    Also, try entering the wrong number of “<strong>a</strong>“-letters to see what happens. To submit a guess, press Enter.
    </p>
    <p></p>
</div>
    {% next_button %}

{% endblock %}
