{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Part 1 continued
{% endblock %}

{% block content %}

<div class="instructions well well-lg">
    <p>
        Now you will have another 4 minutes to earn Tokens by counting "<strong>a</strong>"- letters or
        by spending time in the <em>switch mode</em>. Again, you will start solving short sequences. This time however,
        the <strong>length of the sequences will increase by only two characters </strong> after each sequence you have solved. </p>
    <p>
        From now on this will be called the <em>advanced techonology</em>. <br>
	Last round you have used the <em>basic techonology</em> where the length of sequences increased by four characters. </p>
    <p>
        Remember that you can earn 1 Token for every string you solve and 1 Token for every 10 seconds you spend in the
        <em>switch mode</em>. </p>
    <p>
    Ready? Now you have 4 minutes to earn Tokens. </p>
</div>
    {% next_button %}

{% endblock %}
