{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Task Instructions
{% endblock %}

{% block content %}

    <p>
    During the experiment, you will be asked to count letters. You have to count how many times the letter “<strong>a</strong>“
        appears in a sequence of characters.</p>
    <p>
    Now you will have the opportunity to try the task. The timer will tell you how long you take for each sequence. Also, try to enter to wrong number of “<strong>a</strong>“-letters to see what happens.
    After you have familiarized yourself with the task for 90 seconds you will receive further instructions.
    </p>
    <p></p>
    {% next_button %}

{% endblock %}
