{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Part 2
{% endblock %}

{% block content %}

    <p>
        You have been randomly allocated into a group of five participants A, B, C, D and E.
        You are participant <strong>C</strong>. <br>
	The experiment is anonymous. You will not be told who the other participants are and they will not be informed about your identity.</p>
    <p>
        There will be six rounds of 4 minutes. You and the other group members will be performing the same task as in part 1.</p>
    <p>
        In the <strong>first round all participants</strong> will use the <strong><em>basic techonology</em></strong>.</p>
    <p>
        Remember that the <em>basic technology</em> means that the length of sequences increases by four characters 
	and <em>advanced technology</em> means that the length of sequences increases by two characters.</p>
    <p>
        In all the <strong>following rounds</strong>, exactly <strong>two out of the five group members</strong> will use 
	the <strong><em>advanced technology</em></strong>. <br>
	Whether you get the better technology in the next round, depends on the number of sequences you and the other group members 
	solved in the previous round. The more strings you solve, the higher are your chances! <br>
	Earnings from the <em>switch mode</em> do not affect your chances of getting the <em>advanced technology</em>.</p>
    <p>
        On the next screen, you will see an illustrative example.</p>
    {% next_button %}

{% endblock %}
