{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Thank you
{% endblock %}

{% block content %}

    <p>
        Thank you for participating in this experiment.
    </p>
    <p>
        Your overall earnings are <strong> 24,60 €</strong>.
    </p>
    <p>
        Please remain seated while other participants are finishing the experiment. <br>
	    The experimenter will announce when you can line up in front of the glass door to collect your payment.
    </p>

{% endblock %}
