#string {
    font-size: 2em;
    display: flex;
    justify-content: flex-start;

    /*css for automatically breaking lines */

    /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

      -ms-word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;

}